body{
    margin: 0;
    padding: 0;
    font-family: Poppins;
    font-size: 1.5rem;
    color: white;
}

#main{
    
    height: 100vh;
    width: 100vw;
    background-image: url("img/imgBanner2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

#headerLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    backdrop-filter: blur(10px);

}

#headerLine * {
    display: flex;
    align-items: center;
    height: 25px;
}

.sectionLink{
    color: white;
    text-decoration: none;
}

#sectionsLinks{
    gap: 40px;
}

#search{
    gap: 5px;
    background-color: #fff;
    padding: 10px;
    margin: 0;
    border-radius: 30px;
    color: black;
    align-items: center;

}
#search *{
    font-size: 1.2rem;
    
}
#searchInput{
    border: none;
}

.btnBlack{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

.btnBlack:active{
    background-color: white;
    color: black;
}

.btnBlack, #lblSearch{
    cursor: pointer;
}

#sideBar{
    font-size: 3rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 2%;
    transform: translateY(-50%);
    top: 50%;
    height: 40vh;
    justify-content: space-between;
}

#bannerTitles{
    
    width: 100%;

}

#bannerMainTitle{
    position: absolute;
    font-size: 4rem;
    left: 15%;
    top: 15%;
}

#bannerP{
    position: absolute;
    font-size: 2rem;
    left: 15%;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.089);
    padding: 10px;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    max-width: 30%;
}

#btnBanner{
    position: absolute;
    font-size: 2rem;
    left: 15%;
    top: 80%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid white;
}

#resultsDiv{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30%;
    right: 10%;
    top: 10%;
    height: 80vh;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 10%;
    display: none;
    padding: 15px;
}